.card-pick{
    &-page{
      background-color: white;
      width: auto;
      height: 100vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
    }

    &-header{
        background-color: var(--main-color);
        width: 100%;
        height: 90px;
        &-back{
            position: absolute;
            left: 15px;
            text-decoration: none;
            color: white;
        }
        &-logo--container{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-content{
            color: white;
            // border-bottom: 4px solid gray;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            box-shadow: 0px 3px 5px black;
        }
    }
  
    &-logo{
      width: 30px;
      margin-right: 10px;
    }

    &-card-image{
        width: 50px;
        height: auto;
    }

    &-select{
        width: 35px;
        height: 35px;
        &--button{
            border-color: white;
            padding: 0;
            background: none;
            border-radius: 50px;
        }
    }

    &-label{
        color: gray;
        text-decoration: underline;
        &-container{
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        &--input{
            border: 1px solid transparent;
            border-bottom: 1px solid black;
            margin: 15px 0;
        }
        &-error{
            margin-bottom: 20px;
            color: red;
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
        }
    }

    &-input{
        &-container{
            display: flex;
            flex-direction: column;
            width: 65%;
            justify-content: center;
            height: auto;
        }
    }

    &-input-header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: var(--main-color);
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 9px;
        // margin-top: 130px;
        margin-top: 25px;
        width: 80%;
        padding: 5px 0;
        color: white;
    }

    &-btn-container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: var(--main-color);
        border: 1px solid transparent;
        border-radius: 9px;
        // margin-top: 130px;
        font-size: 15px;
        margin-top: 25px;
        padding: 5px 0;
        color: white;
    }

    &-btn{
        &--sign{
            padding: 15px;
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            background-color: var(--main-color);
            border-radius: 7px;
            border: 1px solid transparent;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
        }
        
    }

    &-all--cards{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        width: 89%;
        margin-top: 40px;
        padding-top: 20px;
    }

    &-card{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        background-color: var(--main-color);
        border-radius: 7px;
        border: 1px solid transparent;
        padding: 5px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14); 
    }

    &-card-name{
        text-decoration: underline;
        color: gray;
        font-size: 20px;
    }
    
  }
  
  
  